@font-face {
    font-family: 'DianeDeFrance';
    src: url('../Assets/fonts/diane_de_france-webfont.eot');
    src: url('../Assets/fonts/diane_de_france-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Assets/fonts/diane_de_france-webfont.woff2') format('woff2'),
         url('../Assets/fonts/diane_de_france-webfont.woff') format('woff'),
         url('../Assets/fonts/diane_de_france-webfont.ttf') format('truetype'),
         url('../Assets/fonts/diane_de_france-webfont.svg#diane_de_franceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Dock51';
    src: url('../Assets/fonts/dock51-webfont.eot');
    src: url('../Assets/fonts/dock51-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Assets/fonts/dock51-webfont.woff2') format('woff2'),
         url('../Assets/fonts/dock51-webfont.woff') format('woff'),
         url('../Assets/fonts/dock51-webfont.ttf') format('truetype'),
         url('../Assets/fonts/dock51-webfont.svg#dock_51regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family:DianeDeFrance, Dock51;
    background-color: darkgray;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-left: 10%;
    background-color: white;
}

.game {
    width: 80%;
    margin: 0 auto;
}